body {
    background-image: url(https://i.pinimg.com/originals/d9/1b/7c/d91b7ca980e03b097c555839fcab26ad.jpg);
    background-size: cover;
    text-align: center;
  }
  #Jeu {
    display: inline-block;
    background-color: rgba(70, 131, 180, 0.596);
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  #Jeu div {
    margin: 0 auto;
    overflow: hidden;
  }
  
  #Jeu button {
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 50px;
    margin: 5px;
    float:left;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  #StatutJeu {
    color: black;
    background: #eee;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1{
    padding-top: 2%;
    padding-bottom: 6%;
    color:  rgba(255, 3, 3, 0.856);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
  }